@import url("fonts.css");
@import url("linearicons.css");
@import url("font-awesome/css/font-awesome.min.css");
html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 1.56em;
}

body {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  background-color: white;
  font-family: montserrat;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 10vh;
  background: #343E46;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

.navbar img#logo {
  width: 200px;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.navbar ul li {
  padding: 10px;
  position: relative;
}

.navbar ul li::after {
  content: '';
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar ul li:hover::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  background: #00aeff;
  width: 100%;
  height: 5px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}

a.top-button {
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  background-color: #00aeff;
  border-radius: 100%;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  bottom: 2rem;
  right: 2rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.top-button i {
  color: white;
  font-size: x-large;
}

.sect {
  scroll-snap-align: start;
}

.top_sect {
  background: #343E46;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  background-image: url(/img/curve_1.svg);
  background-size: cover;
  background-position: 0% 100%;
  z-index: -4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.top_sect .ill {
  width: 45%;
  margin-top: 0%;
  margin-left: 1%;
  z-index: 2;
  -webkit-animation: float 2s infinite alternate ease-in-out both;
          animation: float 2s infinite alternate ease-in-out both;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.top_sect .left {
  margin-top: -10%;
}

.top_sect .left h1 {
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bolder;
}

.top_sect .left button {
  padding: 13px 25px;
  margin-top: 10vh;
  border: 1.5px solid transparent;
  color: white;
  font-size: 20px;
  outline: none;
  background: #00aeff;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0px 0px 20px #00aeff;
          box-shadow: 0px 0px 20px #00aeff;
}

.top_sect .left button:hover {
  border: 1.5px solid white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.about {
  background: #2b2b2b;
  background-size: cover;
  background-position: left bottom;
  padding: 3rem 0px;
  padding-left: 70px;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .left {
  width: 50%;
  height: auto;
}

.about .left h1 {
  color: white;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.about .left h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  width: 100%;
  height: 3px;
}

.about .left p {
  color: white;
  font-family: montserrat;
  line-height: 1.7rem;
  font-size: 17px;
  width: 90%;
  margin-right: 5%;
}

.about .right {
  width: 40%;
  height: auto;
}

.about .right img.team {
  background: url(/img/team.svg);
  width: 60%;
  margin: 20% 10%;
  -webkit-animation: floatH 2s infinite alternate ease-in-out both;
          animation: floatH 2s infinite alternate ease-in-out both;
}

@-webkit-keyframes floatH {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes floatH {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.stats {
  background-color: #D91B5C;
  padding: 70px;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats .group .circle {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
  margin-right: 5rem;
  height: 8rem;
  position: relative;
}

.stats .group h3 {
  text-align: center;
  color: white;
  font-weight: bolder;
  margin-left: -37%;
}

.solution {
  padding: 50px 0px;
  padding-left: 70px;
  background-color: #343E46;
  border: 10px solid #D91B5C;
  border-top: none;
  border-bottom: none;
}

.solution h1 {
  color: white;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.solution h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  width: 100%;
  height: 3px;
}

.solution .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
}

.solution .tabs .tab {
  cursor: pointer;
  padding: 7px 10px;
  color: white;
  font-weight: bold;
  border: 4px solid #e2e2e2;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solution .tabs .tab.active, .solution .tabs .tab:hover {
  color: #dddddd;
  background: #D91B5C;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solution .tab-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  height: auto;
  width: 100%;
}

.solution .tab-contents .tab-content {
  border: 2px solid #00aeff;
  margin-right: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00aeff;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 40%;
  height: 30vh;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}

.solution .tab-contents .tab-content:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #D91B5C), to(rgba(255, 0, 149, 0.774)));
  background: linear-gradient(#D91B5C 20%, rgba(255, 0, 149, 0.774) 100%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.493);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.493);
}

.solution .tab-contents .tab-content:hover > h3 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solution .tab-contents .tab-content:hover > h3 + p {
  display: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solution .tab-contents .tab-content h3 {
  display: none;
}

.solution .tab-contents .tab-content p {
  font-size: .9rem;
  background: #343E46;
  padding: 10px 15px;
  height: 25vh;
  color: white;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.37);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.37);
}

.services {
  padding: 2rem;
  padding-left: 70px;
  background-color: #D91B5C;
}

.services h1 {
  color: white;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2rem;
  display: inline-block;
}

.services h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  width: 100%;
  height: 3px;
}

.services p {
  color: rgba(255, 255, 255, 0.897);
  font-weight: bold;
}

.services .service {
  margin-top: 4rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .service .left, .services .service .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.services .service .left .group, .services .service .right .group {
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  border: 4px solid #00aeff;
  height: 40vh;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
  background-color: #343E46;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.services .service .left .group:hover, .services .service .right .group:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.63);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.63);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.services .service .left .group .circle, .services .service .right .group .circle {
  position: relative;
}

.services .service .left .group .circle h3, .services .service .right .group .circle h3 {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  color: white;
  top: -45%;
  z-index: 99;
}

.services .service .left .group .circle .title, .services .service .right .group .circle .title {
  width: 5rem;
  height: 5rem;
  padding: 2rem;
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 7px solid #00aeff;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  border-top: 0px;
  border-left: 0px;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 100%;
}

.services .service .left .group .circle .title.brand-manage, .services .service .right .group .circle .title.brand-manage {
  background-image: url("/img/management.svg");
  background-size: cover;
}

.services .service .left .group .circle .title.event, .services .service .right .group .circle .title.event {
  background-image: url("/img/management (1).svg");
  background-size: cover;
}

.services .service .left .group .circle .title.social, .services .service .right .group .circle .title.social {
  background-image: url("/img/social-media.svg");
  background-size: cover;
}

.services .service .left .group .circle .title.creative-des, .services .service .right .group .circle .title.creative-des {
  background-image: url("/img/light-bulb.svg");
  background-size: cover;
}

.services .service .left .group .circle .title.promo, .services .service .right .group .circle .title.promo {
  background-image: url("/img/loudspeaker.svg");
  background-size: cover;
}

.services .service .left .group .circle .title.writting, .services .service .right .group .circle .title.writting {
  background-image: url("/img/edit.svg");
  background-size: cover;
}

.services .service .left .group ul, .services .service .right .group ul {
  list-style: none;
}

.services .service .left .group ul li, .services .service .right .group ul li {
  color: white;
  position: relative;
  white-space: nowrap;
  line-height: 1.7rem;
}

.services .service .left .group ul li::before, .services .service .right .group ul li::before {
  position: absolute;
  left: -1.5rem;
  color: #D91B5C;
  font-weight: bold;
  content: "\2713";
}

.why {
  padding: 3rem 0px;
  padding-left: 70px;
  background-color: #343E46;
}

.why h1 {
  color: white;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.why h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  width: 100%;
  height: 3px;
}

.why p {
  color: rgba(255, 255, 255, 0.712);
  margin-top: 3rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.why .features {
  margin-top: 6rem;
}

.why .features .group {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  background: linear-gradient(45deg, #eee0e0, #dfdfdf);
  padding: 1rem 0rem 1rem 1rem;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  border-right: 10px solid #D91B5C;
  border-left: 10px solid #343E46;
}

.why .features .group:hover {
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.why .features .group .logo {
  width: 10vh;
  height: 10vh;
  position: relative;
  top: 1rem;
  background: white;
  border: 4px solid #D91B5C;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  border-radius: 100%;
  margin-right: 1rem;
}

.why .features .group .logo.value {
  background-image: url(/img/rupee.svg);
  background-size: cover;
}

.why .features .group .logo.creativity {
  background-image: url(/img/light-bulb.svg);
  background-size: cover;
}

.why .features .group .logo.solutions {
  background-image: url(/img/jigsaw.svg);
  background-size: cover;
}

.why .features .group .desc h3.title {
  color: #D91B5C;
}

.why .features .group .desc p {
  color: #686868;
  line-height: 1.1rem;
  font-size: 1rem;
  margin-top: -.5rem;
  font-weight: 500;
}

.whom {
  padding: 0px 70px;
}

.whom h1 {
  color: #D91B5C;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2rem;
  display: inline-block;
}

.whom h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: #D91B5C;
  width: 100%;
  height: 3px;
}

.whom p {
  color: #171b1f;
  font-weight: bold;
}

.team {
  background-color: #D91B5C;
  padding: 30px 70px;
}

.team h1 {
  color: white;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2rem;
  display: inline-block;
}

.team h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: white;
  width: 100%;
  height: 3px;
}

.team p {
  color: white;
  font-weight: bold;
}

.team .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .profiles .group {
  margin: 0px 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .profiles .group .circle {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px 1px black;
          box-shadow: 0px 0px 20px 1px black;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQQJR6BqqLi6y004j182y-DQqexGNssQn5AHlZ7DUBXpYQe3H7P);
  background-size: cover;
  width: 8rem;
  height: 8rem;
  border: .2rem solid white;
  border-radius: 100%;
}

.team .profiles .group h3 {
  color: white;
}

.team .dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem auto;
}

.team .dots .dot {
  margin: auto .5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.753);
}

.team .dots .dot.active, .team .dots .dot:hover {
  background: #D91B5C;
}

footer {
  border: 0px solid #D91B5C;
  border-top-width: 4px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0px 0px 0px;
  background: #343E46;
}

footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 760px) {
  footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .top > * {
  margin-right: 50px;
  width: 33.33%;
}

footer .top .left {
  margin: 20px 50px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .top .left h1 {
  font-size: 18px;
  color: white;
  position: relative;
}

footer .top .left h1::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  color: #D91B5C;
  background: #D91B5C;
  width: 100%;
  height: 4px;
}

footer .top .left p {
  font-size: 15px;
  color: white;
  position: relative;
  line-height: 1.8rem;
  font-family: montserrat;
}

footer .top .left p i {
  margin-right: .5rem;
  font-size: 20px;
  margin-left: 0rem;
  color: #00aeff;
}

footer .top .middle h1 {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: white;
  position: relative;
}

footer .top .middle h1::after {
  text-align: center;
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  color: #D91B5C;
  background: #D91B5C;
  width: 33%;
  height: 4px;
}

footer .top .middle form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .top .middle form input, footer .top .middle form textarea {
  background: rgba(255, 255, 255, 0.233);
  outline: none;
  border: none;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  resize: none;
}

footer .top .middle form input::-webkit-input-placeholder, footer .top .middle form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.596);
}

footer .top .middle form input:-ms-input-placeholder, footer .top .middle form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.596);
}

footer .top .middle form input::-ms-input-placeholder, footer .top .middle form textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.596);
}

footer .top .middle form input::placeholder, footer .top .middle form textarea::placeholder {
  color: rgba(255, 255, 255, 0.596);
}

footer .top .middle form input:focus, footer .top .middle form textarea:focus {
  border: 0px solid #D91B5C;
  background: #171b1f;
  color: white;
  border-bottom-width: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .top .middle form > * {
  margin-bottom: 10px;
}

footer .top .middle form input {
  padding: 7px 10px;
  outline: none;
  border: none;
}

footer .top .middle form .top {
  width: 100%;
}

footer .top .middle form .top input {
  width: 50%;
  margin-right: 0px;
}

footer .top .middle form .top input:first-child {
  width: 50%;
  margin-right: 5px;
}

footer .top .middle form textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 10px;
}

footer .top .middle form button {
  padding: 8px 15px;
  width: 20%;
  outline: none;
  border: none;
  background: #D91B5C;
  color: white;
  -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

footer .top .middle form button:hover {
  background: white;
  -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  color: #D91B5C;
  font-weight: bolder;
}

footer .top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 33%;
  height: 100%;
  top: -8.5rem;
}

footer .top .right h1 {
  text-transform: uppercase;
  position: relative;
  font-size: 18px;
  color: white;
}

footer .top .right h1::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  color: #D91B5C;
  background: #D91B5C;
  width: 100%;
  height: 4px;
}

footer .top .right .links {
  margin: 0;
  position: relative;
  top: 20px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .top .right .links > * {
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: white;
  font-size: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

footer .top .right .links > *:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #00aeff;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer .bottom {
  height: 10vh;
  width: 100%;
  background: #171b1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottom h1 {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */