@import url("fonts.css");
@import url("linearicons.css");
@import url("font-awesome/css/font-awesome.min.css");
html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  background-color: white;
  font-family: montserrat;
  width: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  width: 100%;
  height: 10vh;
  background: #343E46;
}

.navbar img#logo {
  width: 200px;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.navbar ul li {
  padding: 10px;
  position: relative;
}

.navbar ul li::after {
  content: '';
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar ul li:hover::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  color: #D91B5C;
  background: #D91B5C;
  width: 100%;
  height: 5px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}

.top_sect {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
}

.top_sect .left h1 {
  color: #343E46;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bolder;
}

.top_sect .left button {
  padding: 13px 25px;
  margin-top: 10vh;
  border: none;
  border: 1.5px solid transparent;
  color: white;
  font-size: 20px;
  outline: none;
  background: #D91B5C;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0px 0px 20px rgba(217, 27, 93, 0.432), 0px 0px 50px rgba(217, 27, 93, 0.247), 0px 0px 30px rgba(217, 27, 93, 0.432);
          box-shadow: 0px 0px 20px rgba(217, 27, 93, 0.432), 0px 0px 50px rgba(217, 27, 93, 0.247), 0px 0px 30px rgba(217, 27, 93, 0.432);
}

.top_sect .left button:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 1.5px solid white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about {
  height: auto;
  margin-top: 10rem;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .left {
  width: 50%;
  height: auto;
}

.about .left h1 {
  color: #D91B5C;
  text-transform: uppercase;
  position: relative;
  font-size: 25px;
  display: inline-block;
}

.about .left h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: #D91B5C;
  width: 100%;
  height: 3px;
}

.about .left p {
  color: #535151;
  font-family: montserrat;
  line-height: 25px;
  font-size: 17px;
  width: 90%;
  margin-right: 5%;
}

.about .right {
  width: 40%;
  height: auto;
}

.about .right img.team {
  background: url(/img/team.svg);
  width: 60%;
  margin: 20% 10%;
}

.stats {
  margin-left: 70px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stats .group .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  margin-right: 4rem;
  height: 3rem;
  border: 8px solid rgba(128, 128, 128, 0.753);
  background: transparent;
  border-radius: 100%;
}

.stats .group h3 {
  color: #171b1f;
}

.solution {
  padding: 0px 70px;
}

.solution h1 {
  color: #D91B5C;
  text-transform: uppercase;
  position: relative;
  font-size: 25px;
  display: inline-block;
}

.solution h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: #D91B5C;
  width: 100%;
  height: 3px;
}

.solution .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
}

.solution .tabs .tab {
  cursor: pointer;
  padding: 7px 10px;
  background-color: #e2e2e2;
  color: #D91B5C;
  font-weight: bold;
  border: 0px solid white;
  border-left-width: 2px;
}

.solution .tabs .tab.active, .solution .tabs .tab:hover {
  color: #dddddd;
  background: #D91B5C;
}

.solution .tab-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  height: auto;
  width: 100%;
}

.solution .tab-contents .tab-content {
  margin-right: .4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 11%;
  padding: .2rem 1rem;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}

.solution .tab-contents .tab-content:hover {
  background: radial-gradient(#D91B5C 20%, rgba(255, 255, 255, 0.425) 100%);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.493);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.493);
}

.solution .tab-contents .tab-content:hover > h3 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.solution .tab-contents .tab-content:hover > h3 + p {
  display: none;
}

.solution .tab-contents .tab-content:first-child {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.solution .tab-contents .tab-content:last-child {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.solution .tab-contents .tab-content h3 {
  display: none;
}

.solution .tab-contents .tab-content p {
  font-size: .9rem;
  background: #343E46;
  padding: 10px 15px;
  color: white;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.37);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.37);
}

.services {
  padding: 0px 70px;
  margin-bottom: 2rem;
}

.services h1 {
  color: #D91B5C;
  text-transform: uppercase;
  position: relative;
  font-size: 25px;
  margin-bottom: 2rem;
  display: inline-block;
}

.services h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: #D91B5C;
  width: 100%;
  height: 3px;
}

.services p {
  color: #171b1f;
  font-weight: bold;
}

.services .service {
  margin-top: 4rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .service .left, .services .service .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.services .service .left .group, .services .service .right .group {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .service .left .group .title, .services .service .right .group .title {
  width: 7rem;
  height: 7rem;
  padding: 2rem;
  color: #D91B5C;
  border: 7px solid #D91B5C;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  border-top: 0px;
  border-left: 0px;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 100%;
}

.services .service .left .group ul, .services .service .right .group ul {
  list-style: none;
}

.services .service .left .group ul li, .services .service .right .group ul li {
  color: #333333;
  line-height: 1.5rem;
}

.services .service .left .group ul li::before, .services .service .right .group ul li::before {
  content: "- ";
}

.why {
  padding: 0px 70px;
}

.why h1 {
  color: #D91B5C;
  text-transform: uppercase;
  position: relative;
  font-size: 25px;
  margin-bottom: 2rem;
  display: inline-block;
}

.why h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: #D91B5C;
  width: 100%;
  height: 3px;
}

.why p {
  color: #171b1f;
  font-weight: bold;
}

.why .features {
  margin-top: 3rem;
}

.why .features .group {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why .features .group .logo {
  width: 10vh;
  height: 10vh;
  background: white;
  border: 4px solid #D91B5C;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  border-radius: 100%;
  margin-right: 1rem;
}

.why .features .group .desc h3.title {
  color: #343E46;
}

.why .features .group .desc p {
  color: #333333;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.whom {
  padding: 0px 70px;
}

.whom h1 {
  color: #D91B5C;
  text-transform: uppercase;
  position: relative;
  font-size: 25px;
  margin-bottom: 2rem;
  display: inline-block;
}

.whom h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: #D91B5C;
  width: 100%;
  height: 3px;
}

.whom p {
  color: #171b1f;
  font-weight: bold;
}

.team {
  padding: 0px 70px;
}

.team h1 {
  color: #D91B5C;
  text-transform: uppercase;
  position: relative;
  font-size: 25px;
  margin-bottom: 2rem;
  display: inline-block;
}

.team h1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  background: #D91B5C;
  width: 100%;
  height: 3px;
}

.team p {
  color: #171b1f;
  font-weight: bold;
}

.team .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .profiles .group {
  margin: 0px 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .profiles .group .circle {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px 5px #D91B5C;
          box-shadow: 0px 0px 20px 5px #D91B5C;
  width: 6rem;
  height: 6rem;
  background: white;
  border: 4px solid #D91B5C;
  border-radius: 100%;
}

.team .dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem auto;
}

.team .dots .dot {
  margin: auto .5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.753);
}

.team .dots .dot.active, .team .dots .dot:hover {
  background: #D91B5C;
}

footer {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .top {
  background: #343E46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .top > * {
  margin-right: 50px;
  width: 33.33%;
}

footer .top .left {
  margin: 20px 50px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .top .left h1 {
  font-size: 18px;
  color: white;
  position: relative;
}

footer .top .left h1::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  color: #D91B5C;
  background: #D91B5C;
  width: 100%;
  height: 4px;
}

footer .top .left pre {
  font-size: 15px;
  color: white;
  position: relative;
  left: -45px;
  font-family: montserrat;
}

footer .top .middle form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .top .middle form input, footer .top .middle form textarea {
  background: rgba(255, 255, 255, 0.233);
  outline: none;
  border: none;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .top .middle form input::-webkit-input-placeholder, footer .top .middle form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.596);
}

footer .top .middle form input:-ms-input-placeholder, footer .top .middle form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.596);
}

footer .top .middle form input::-ms-input-placeholder, footer .top .middle form textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.596);
}

footer .top .middle form input::placeholder, footer .top .middle form textarea::placeholder {
  color: rgba(255, 255, 255, 0.596);
}

footer .top .middle form input:focus, footer .top .middle form textarea:focus {
  border: 0px solid #D91B5C;
  background: #171b1f;
  color: white;
  border-bottom-width: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .top .middle form > * {
  margin-bottom: 10px;
}

footer .top .middle form input {
  padding: 7px 10px;
  outline: none;
  border: none;
}

footer .top .middle form .top {
  width: 100%;
}

footer .top .middle form .top input {
  width: 50%;
  margin-right: 0px;
}

footer .top .middle form .top input:first-child {
  width: 50%;
  margin-right: 5px;
}

footer .top .middle form textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 10px;
}

footer .top .middle form button {
  padding: 8px 15px;
  width: 20%;
  outline: none;
  border: none;
  background: #D91B5C;
  color: white;
  -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

footer .top .middle form button:hover {
  background: white;
  -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  color: #D91B5C;
  font-weight: bolder;
}

footer .top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 33%;
  height: 100%;
  top: 20px;
}

footer .top .right h1 {
  text-transform: uppercase;
  position: relative;
  font-size: 18px;
  color: white;
}

footer .top .right h1::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  color: #D91B5C;
  background: #D91B5C;
  width: 100%;
  height: 4px;
}

footer .top .right .links {
  margin: 0;
  position: relative;
  top: 20px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .top .right .links > * {
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: white;
  font-size: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

footer .top .right .links > *:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #D91B5C;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer .bottom {
  height: 20vh;
  width: 100%;
  background: #171b1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottom h1 {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */